Thumbs.db
History
*.IntLib
*.SchDocPreview
*.PcbDocPreview
*.tmp
*.zip
*.rar
*Preview
*.Annotation
*.LOG
*viewstate
*.htm
*.html
asccprj.scc
*.PrjPCBStructure
*.wmf
Project\ Outputs*
Hardware/Datasheets
Hardware/PDB/3DFiles
